.full-blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 2.5rem auto;
  border-radius: 3px;
  position: relative;
  animation: fadeIn 0.5s ease;

  &__disclaimer {
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-top: 1px solid darkgrey;
    padding-top: 2rem;
    color: darkgrey;
  }

  &__share {
    margin-bottom: 20px;

    & a:not(:last-of-type) {
      margin-right: 10px;
    }

    & h3 {
      color: #0379c0;
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: $bp-small) {
    width: 80vw;
  }

  &__heading {
    animation: fadeIn 2s ease;
    font-size: $fnt-big;
    margin-bottom: 2rem;
    color: $main-color3;
  }

  &__content {
    width: 80vw;
    animation: fadeIn 2s ease;
    font-size: $fnt-reg;
    margin-bottom: auto;

    & > p {
      margin-bottom: 2rem;
    }

    & > * {
      text-align: left;
    }
  }

  &__image {
    height: 30rem;
    float: left;
    border-radius: 3px;
    margin-bottom: 1rem;
    animation: fadeIn 0.5s ease;
  }

  &__go-back {
    position: absolute;
    top: 0;
    left: -10rem;

    @media only screen and (max-width: $bp-small) {
      position: relative;
      left: 0;
    }

    color: $blk-color2;
    font-size: $fnt-reg;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    border-bottom: 2px solid $snd-color2;

    &:hover {
      transform: translateY(-3px);
      color: $snd-color2;
    }

    &:active {
      transform: translateY(3px);
    }
  }
}
