@import "./Abstracts/Variables.scss";
@import "./Abstracts/Animations.scss";

@import "./Shared.scss";

@import "./components/Header.scss";
@import "./components/Footer.scss";
@import "./components/Navigation.scss";
@import "./components/HomeNav.scss";
@import "./components/Quote.scss";
@import "./components/Profile.scss";
@import "./components/BlogPost.scss";
@import "./components/FullBlogPost.scss";
@import "./components/ContactForm.scss";

@import "./Pages/Home.scss";
@import "./Pages/News.scss";
@import "./Pages/Clients.scss";
@import "./Pages/AboutUs.scss";
@import "./Pages/Expertise.scss";
@import "./Pages/Contact.scss";
@import "./Pages/Complaints.scss";
@import "./Pages/Donate.scss";

html {
  background-color: $wht-color1;
  color: $blk-color1;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  height: 100%;

  @media only screen and (max-width: $bp-big) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-med) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 40%;
  }
}

body {
  height: 100%;
}

img {
  @media only screen and (max-width: $bp-small) {
    max-width: 80vw;
    height: auto;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
