// Colours

$main-color1: #67aed9;
$main-color2: #4ea1d2;
$main-color3: #0379c0;
$main-color4: #026cac;
$main-color5: #026099;
$main-color6: #025486;

$snd-color1: #00ffff;
$snd-color2: #00e5e5;
$snd-color3: #00cccc;
$snd-color4: #00b2b2;
$snd-color5: #009999;
$snd-color6: #007f7f;

$blk-color1: #161616;
$blk-color2: #1e1e1e;
$blk-color3: #252525;

$wht-color1: #ededed;
$wht-color2: #dbdbdb;
$wht-color3: #c9c9c9;

// Font Sizes
$fnt-small: 1rem;
$fnt-reg: 1.6rem;
$fnt-big: 3rem;
$fnt-vbig: 4rem;

//Break points

$bp-big: 1200px;
$bp-med: 800px;
$bp-small: 600px;
