.complaints {
  width: 80%;
  margin: auto;
  padding: 2rem;
  font-size: 1.4rem;
  animation: bounceIn 1s ease;
  display: flex;

  @media only screen and (max-width: $bp-small) {
    width: 90%;
    padding: 1rem;
    flex-direction: column;
  }

  &__1st {
    flex: 0 0 30%;
    margin-right: 3.5rem;

    @media only screen and (max-width: $bp-med) {
      margin-right: 1rem;
    }
  }

  &__paragraph,
  p {
    text-align: left;
    margin-bottom: 1rem;
  }

  &__image {
    height: 60rem;
    width: auto;

    outline: 0.75rem solid $main-color5;

    @media only screen and (max-width: $bp-med) {
      height: 40rem;
    }
  }

  &__icon {
    height: 2.5rem;
    margin-right: 0.5rem;
  }

  &__contact {
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: $snd-color3;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: $wht-color1;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-med) {
      width: 80%;
    }

    &--heading {
      font-size: 2rem;
      color: $wht-color1;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }

  &__contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__link,
  a {
    text-decoration: none;
    color: $main-color4;
    transition: all 0.2s ease;

    &:hover {
      color: $main-color6;
    }
  }

  &__small-text {
    font-size: $fnt-small;
    font-style: italic;
  }
}
