.home-container {
  position: relative;
  padding: 2rem;

  display: flex;
  justify-content: center;

  animation: fadeIn 2s ease;
}

.home-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.latest-news-heading {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.blog-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba($wht-color3, 0.5);
  flex: 0 0 50%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 3rem rgba($blk-color3, 0.3);
  overflow: hidden;
  margin-right: 2rem;

  @media only screen and (max-width: $bp-small) {
    flex: 0 0 90%;
    margin-right: 0;
  }
}
